        <script type="text/javascript">
            //    点出按钮弹出下拉框
            $('.ui.dropdown').dropdown();
            //    鼠标移到头像上，弹出气泡框
            $('.post-content .avator').popup({
                inline: true,
                position: 'bottom right',
                lastResort: 'bottom right',
            });
        </script>
    </body>
</html>